
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
      <div class="row mt-5">
     
     <div class="col-md-6 text-center">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" sortable="name" (sort)="onSort($event)">Jugadores En Línea</th>
       </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jugador of (socketAPI.listaUserUpdate$ | async)?.usuariosOnline || []" (click)="ponerEnEspera(jugador)">
           <td *ngIf="auth.getUser().username!==jugador">
              <button type="button" class="btn btn-outline-secondary"> {{jugador}}</button>
            </td>
         </tr>
        </tbody>
      </table>
    </div>

      <div class="col-md-6 text-center">
      <table class="table table-striped">
        <thead>
          <th scope="col" sortable="name" (sort)="onSort($event)">Jugadores en Espera</th>
        </thead>
        <tbody>
          <tr *ngFor="let jugadorEsp of enEspera">
            <td>{{jugadorEsp}}</td>
          </tr>
        </tbody>
      </table>
</div>




<div class= "container text-center">
      <button style="width: 205px; " (click)="desafiar()" name="btn desafio" type="button" class="btn-dark btn btn-outline-danger btn-lg">
          DESAFIAR
        </button>
     
        <h4>
          Pendientes de Aceptación: 
          <p id="res"class="text-danger">

           {{restantes$.value}}

          </p>
        </h4>

       <button style="width: 205px;" type="button" class="btn-dark btn btn-outline-success btn-lg" (click)="crearPartida()">
          COMENZAR JUEGO
        </button>
        

  </div>

</div>
  </body>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Here I am!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
</html>
