<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card-header">Bienvenidos al Chat</div>
    <div class="card text-white bg-dark overflow-auto" style="width: 697px; height: 500px">

      <div *ngFor="let message of messages">
        <hr>
        {{message}}
      </div>

    </div>
    <div class="input-group">
      <input (keyup)="$event.keyCode == 13 && sendMessage()" [(ngModel)]="message" type="text" class="form-control" id="nuevomsj" placeholder="Escriba su mensaje...">
      <span class="input-group-btn">
        <button (click)="sendMessage()" type="button" class="btn btn-primary">Enviar</button>
      </span>
    </div>
  </div>
</div>
