<div class="row">
<div class="col-md-6 mx-auto mt-5">
<div class="card">
<div class="card-body">


<form #nuevaPalabraForm="ngForm" (ngSubmit)="agregarPalabra(nuevaPalabraForm)" >
<ul class="nav nav-pills flex-column">
<div class="form-group has-success">
    <label class="form-control-label">Ingresa una palabra: </label>
    <input type="text" class="form-control is-valid" name="palabra_frase" ngModel required >
    <div class="valid-feedback">Palabra correcta.</div>
    <label class="form-control-label" >Ingrese el significado: </label>
    <input type="text" class="form-control is-valid"  name="significado" ngModel required>

</div>

<div class="form-group">
        <select name="nivel" class="custom-select" ngModel required>
          <option value="1">Nivel 1</option>
          <option value="2">Nivel 2</option>
          <option value="3">Nivel 3</option>
          <option value="4">Nivel 4</option>
          <option value="5">Nivel 5</option>
          <option value="6">Nivel 6</option>

        </select>
      </div>


    <input type="submit" value="Enviar" class="btn btn-success btn-block btn-lg">
    <button type="button" value="PALABRASGET" (ng-click)="getPalabras()" name="button"  class="btn btn-success btn-block btn-lg"></button>

  </ul>
</form>

</div>
</div>

</div>

</div>
